@using WineManager.EntityModels
@model List<Producer>
@if (TempData["error"] is not null)
{
    <p class="alert alert-danger">@TempData["error"]</p>
}
@if (TempData["success"] is not null)
{
    <p class="alert alert-success">@TempData["success"]</p>
}

<a asp-controller="Home" asp-action="AddProducer"
   class="btn btn-outline-primary">Add Producer</a>

<h1>Producers</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Producer Name</th>
                <th>Region</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Producer p in Model)
            {
                <tr>
                    <td>@p.ProducerName</td>
                    <td>@p.Region</td>
                    <td>@p.Country</td>
                    <td>
                        <a asp-controller="Home"
                           asp-action="DeleteProducer"
                           asp-route-producername="@p.ProducerName"
                           class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No producers available.</p>
}
