@using WineManager.EntityModels
@model IEnumerable<Wine>

    <h2>@ViewData["Title"]</h2>
<div class="table-responsive mb-4">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this)" />
                </th>
                <th>Name</th>
                <th>Bottle Size</th>
                <th>Alcohol Content</th>
                <th>Producer</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (Wine wine in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedWines" value="@wine.WineId" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => wine.WineName)</td>
                        <td>@Html.DisplayFor(modelItem => wine.BottleSize)</td>
                        <td>@Html.DisplayFor(modelItem => wine.AlcoholContent)</td>
                        <td>@Html.DisplayFor(modelItem => wine.ProducerId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
